<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ERROR" monitorInterval="30">

    <!-- Logging Properties -->
    <Properties>
        <Property name="LOG_PATTERN">%d{ddMMMyyyy HH:mm:ss.SSS} [%t] %-5level %C.%M(): %msg%n</Property>
        <Property name="APP_LOG_ROOT">/tmp/</Property>
    </Properties>

    <appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{ddMMMyyyy HH:mm:ss.SSS} [%t] %highlight{%-5level %C.%M():  %msg%n}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="ErrorLogFile" fileName="${APP_LOG_ROOT}/app-error.log"
                     filePattern="${APP_LOG_ROOT}/app-error-%d{yyyy-MM-dd}-%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Standard File Appender -->
        <RollingFile name="StandardLogFile" fileName="${APP_LOG_ROOT}/app-standard.log"
                     filePattern="${APP_LOG_ROOT}/app-info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</configuration>